* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 910px;
  margin: auto;
}
.card {
  display: inline-block;
  background: lightgrey;
  width: 200px;
  height: 226px;
  margin: 50px;
  text-align: center;
}
.title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
}
.description {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-bottom: 18px;
}
