* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Rbobto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.calendar {
  margin: auto;
}

.cptn {
  font-weight: 700;
}

table,
td,
th {
  border-collapse: collapse;
  border: 1px solid;
}

td,
th {
  padding: 0.25rem 0.5rem;
  border: 0;
}

.bg-yellow {
  background-color: yellow;
}
