:root {
  --basic-color: #81a36b;
  --bg-color: #d8d8d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #161616;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  background-color: #81a36b;
  min-height: 80px;
}

.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #161616;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.logo {
  display: flex;

  color: #161616;
  font-family: Vetrino;
  font-size: 36px;
  font-weight: 400;
}

.nav-wrap .logo {
  margin-right: 40px;
}

.first-section {
  background-color: #d8d8d6;
}

.first-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  color: #161616;
  font-family: Vetrino;
  font-size: 62px;
  font-weight: 400;
  margin-bottom: 60px;
}

.descr {
  color: #161616;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  max-width: 540px;
  line-height: 1.6;
}

.btns {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-right: 60px;
  width: 190px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.btn.green {
  background-color: #81a36b;
  color: #161616;
  border: none;
}

.btn.light {
  color: #161616;
  border: 1px solid #81a36b;
}

.img-main {
  display: flex;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #d8d8d6;
}

.second-title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #000;
  font-family: Vetrino;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 60px;
}

.about-descr {
  color: #161616;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}

.cards {
  background-color: #81a36b;
  padding-top: 80px;
  padding-bottom: 80px;
}

.cards1 {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-descr {
  display: flex;
  color: #161616;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.card-img {
  display: flex;
  padding-bottom: 20px;
}

.work {
  background-color: #d8d8d6;
}

.work-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.works-cards {
  background-color: #d8d8d6;
  padding-bottom: 120px;
}

.work-card {
  background-color: #81a36b;
  padding: 15px;
}

.card-title {
  color: #161616;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 23px;
  padding-bottom: 40px;
}

.footer {
  background-color: #81a36b;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contact-list {
  list-style: none;
  color: #161616;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.contact {
  padding-bottom: 20px;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-icons {
  display: flex;
  justify-content: space-between;
  max-width: 110px;
  width: 100%;
}

.socials-link {
  display: flex;
}

.footer-title {
  color: #161616;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}

.year {
  display: flex;
  justify-content: center;
  color: #161616;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
